.header{
    padding: 22px 0;
    background-color: $second-Color;

    &__content{
        display: flex;
        justify-content: space-between;    
    }

    &__img{
        width: 7%;
    }

    &__nav{
        display: flex;
        align-items: center;
    }

    &__lista{
        display: flex;
        gap: 40px;
        margin: 0;
    }

    &__item{
        list-style: none;
    }

    &__link{
        text-decoration: none;
        color: $third-Color;
    }

    &--active{
        font-weight: bold;
        color: $first-Color;
    }
}